body
{
    background-color: #DDD;
}
#text
{
    width: 800px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;
    display: none;
}
pre
{
    color: #4c5;
}
code
{
    color: #722;
}
.operator
{
    color: #646;
    font-weight: 700;
}
.identifier
{
    color: #17b;
}
.string
{
    color: #F00;
}
.number
{
    color: #00F;
    font-weight: 500;
}

blockquote
{
    margin: 0;
    padding: 0 0.2em;
    border-left: 3px solid #ccc;
    background-color: #fff;
}
button.run
{
    margin-left: 1em;
    margin-top: 1em;
}

